.customer-data label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
}

.customer-data input{
    width: 200px;
    border-radius: 5px;
}

.customer-data{
    margin: 20px;
}

input[type=number]{
    width: 50px;
    border-radius: 5px;
}

.errors{
    color: red;
}

.trainees{
    display: none;
}

#promotion-values{
    color: red;
}
